
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* MENU */
#menu-fixo {
    background-color: #FFFFFF;
    padding-top: 9px;
    padding-bottom: 14px;
}

#menu-fixo li {
    display: inline-flex;
    padding-left: 3%;
    padding-right: 2%;
}

#menu-topo {
    background-color: #FFFFFF;
}

.nav-link {
    color: black;
}

/* CONTEUDO */
#text-inicio {
    padding-top: 70px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #000000;
}

#text-pubnova {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    padding-top: 24px;
    padding-bottom: 10px;
}

.publicacao {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

.publicacao video {
    padding-top: 10px;
}

.publicacao span {
    padding-top: 10px;
}

.perfil span i {
    position: absolute;
    padding-top: 12px;
}

.perfil img {
    margin-top: 12px;
    width: 28px;
    height: 28px;
}

.perfil a {
    margin-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    color: #000000;
    text-decoration: none;
}

.espaco {
    height: 50px;
    /* Mudar isso depois, apenas para dá um espaço e mostrar o layout completo */
}

.botao_add {
    height: 40px;
    width: 70px;
    background-image: linear-gradient(to bottom, #FF02D1, #FF4D00);
    border-radius: 30px;
}

.botao_add i {
    color: #FFFFFF;
    padding-left: 11px;
}

.offcanvas {
    max-width: 60%;
    max-height: 40%;
    border-radius: 15px;
}

.card-teste {
    min-width: 300px;
    min-height: 50%;
    position: fixed;
}

.card-teste p {
    margin-left: 20px;
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    line-height: 25px;
    align-items: center;
    color: #424242;
    text-decoration: none;
}

.perfil-fixo {
    padding-top: 20px;
    padding-left: 4%;
    padding-bottom: 10%;
}

.perfil-fixo span i {
    position: absolute;
    
}

.perfil-fixo img {
    width: 56px;
    height: 56px;
}

.perfil-fixo a {
    padding-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    color: #000000;
    text-decoration: none;
}

.card {
    
    height: 110px;
    width: 20px;
    margin-left: 4%;
    margin-right: 4%;
    border: 1px solid rgb(240, 239, 239);
    border-radius: 5px;
    background-color: #f8f9fa;
    
}

.card a {
    padding-top: 5px;
    padding-left: 2px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    color: #000000;
    text-decoration: none;
    width: auto;    
}

.card img {
    padding-top: 23px;
    width: 90%;
    margin-left: 4px;
    border-radius: 50px;
}

